body {
    background-color: #021526; 
    font-family: Helvetica, sans-serif;
}

.home-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.barometer-container {
    width: 800px;
    height: 650px;
}

#barometer{
    padding-top: 2em;
}

.updated-at-field,
.weather-condition-field{
    color: white;
}

.updated-at-field{
    padding-top: 15px;
}